<div class="p-10">
  <div class="bg-gray-100 mx-auto w-2/5 rounded-xl">
    <div
      class="text-center text-sm text-orange-500 font-semibold uppercase tracking-widest py-10"
    >
      {{ message }}
    </div>
    <div *ngIf="authenticated">
      <form [formGroup]="checkInForm">
        <div class="">
          <div class="p-5">
            <input
              id="hours"
              class="bg-gray-50 border border-gray-300 text-orange-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-2/5 p-2.5 dark:bg-white-700 dark:border-orange-600 dark:placeholder-orange-400 dark:text-black dark:focus:ring-orange-500 dark:focus:border-orange-500 mx-auto"
              type="number"
              placeholder="No. of hours"
              formControlName="hours"
            />
          </div>
          <div class="p-5">
            <input
              id="tag"
              class="bg-gray-50 border border-gray-300 text-orange-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-2/5 p-2.5 dark:bg-white-700 dark:border-orange-600 dark:placeholder-orange-400 dark:text-black dark:focus:ring-orange-500 dark:focus:border-orange-500 mx-auto"
              type="text"
              placeholder="#tag"
              formControlName="tag"
            />
          </div>
          <div class="p-5">
            <input
              id="activity"
              class="bg-gray-50 border border-gray-300 text-orange-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-2/5 p-2.5 dark:bg-white-700 dark:border-orange-600 dark:placeholder-orange-400 dark:text-black dark:focus:ring-orange-500 dark:focus:border-orange-500 mx-auto"
              type="text"
              placeholder="Activity"
              formControlName="activity"
            />
          </div>
          <div class="pt-5 pb-10 text-center">
            <button
              class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
