<header class="bg-white shadow-md sticky top-0 z-50 h-12">
  <div class="flex items-center justify-center h-full mx-auto">
    <a
      routerLink="/check-in"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="px-3 text-sm font-semibold text-gray-800 uppercase tracking-widest hover:text-gray-700"
      >Track</a
    >
    <a
      routerLink="/view"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="px-3 text-sm font-semibold text-gray-800 uppercase tracking-widest hover:text-gray-700"
      >View</a
    >
  </div>
</header>
